<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="semios.api.mapper.ShutdownRecordMapper">


    <select id="selectByType" resultType="semios.api.model.entity.ShutdownRecord">
        select *
        from shutdown_record
        where type = #{type}
        <if test="recordId != null and recordId != ''">
            and record_id = #{recordId}
        </if>
        and is_valid = 1 order by id desc limit 1
    </select>
</mapper>
